body  {
    background-color: #163748;
    background-size: cover;
    font-family: DM Serif Display, serif;
}

h1{
  text-align: center;
  font-size: 24px;
  color: #e9e4b3;
  margin: 0;
  padding: 15px 0;
  font-family: DM Serif Display, serif;
}


footer{
  background-color:#3e6878e4;
  padding: 0 30px;
  position: center;
  display: flex;
}

.nav-links a {
  color: #e9e4b3;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 4px;
  position: relative;
 font-family: DM Serif Display, serif;
}

main {
 
  color: #e9e4b3;

}

